# Introducing pandas objects.

In [1]:
import pandas as pd
import numpy as np
pd.__version__

'2.0.2'

In [3]:
pd?

Type:        module
String form: <module 'pandas' from 'c:\\Users\\ASUS\\AppData\\Local\\Programs\\Python\\Python310\\lib\\site-packages\\pandas\\__init__.py'>
File:        c:\users\asus\appdata\local\programs\python\python310\lib\site-packages\pandas\__init__.py
Docstring:
pandas - a powerful data analysis and manipulation library for Python
=====================================================================

**pandas** is a Python package providing fast, flexible, and expressive data
structures designed to make working with "relational" or "labeled" data both
easy and intuitive. It aims to be the fundamental high-level building block for
doing practical, **real world** data analysis in Python. Additionally, it has
the broader goal of becoming **the most powerful and flexible open source data
analysis / manipulation tool available in any language**. It is already well on
its way toward this goal.

Main Features
-------------
Here are just a few of the things that pandas does well:

  - Easy handling of missing data in floating point as well as non-floating
    point data.
  - Size mutability: columns can be inserted and deleted from DataFrame and
    higher dimensional objects
  - Automatic and explicit data alignment: objects can be explicitly aligned
    to a set of labels, or the user can simply ignore the labels and let
    `Series`, `DataFrame`, etc. automatically align the data for you in
    computations.
  - Powerful, flexible group by functionality to perform split-apply-combine
    operations on data sets, for both aggregating and transforming data.
  - Make it easy to convert ragged, differently-indexed data in other Python
    and NumPy data structures into DataFrame objects.
  - Intelligent label-based slicing, fancy indexing, and subsetting of large
    data sets.
  - Intuitive merging and joining data sets.
  - Flexible reshaping and pivoting of data sets.
  - Hierarchical labeling of axes (possible to have multiple labels per tick).
  - Robust IO tools for loading data from flat files (CSV and delimited),
    Excel files, databases, and saving/loading data from the ultrafast HDF5
    format.
  - Time series-specific functionality: date range generation and frequency
    conversion, moving window statistics, date shifting and lagging.

In [ ]:
# Series object 
data=pd.Series([10,20,30,40,50])
print(data)

# for i,j in enumerate(data):
#     print(i," ",j)

0    10
1    20
2    30
3    40
4    50
dtype: int64
0   10
1   20
2   30
3   40
4   50

In [7]:
data.values

array([10, 20, 30, 40, 50], dtype=int64)

In [8]:
data.index

RangeIndex(start=0, stop=5, step=1)

In [9]:
data[0]

10

In [10]:
data[1:4]

1    20
2    30
3    40
dtype: int64

In [12]:
data2=pd.Series([1,2,3,4,5],index=['a','b','c','d','e'])

In [13]:
data2

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [14]:
data2['c']

3

In [15]:
data2['a':'d']

a    1
b    2
c    3
d    4
dtype: int64

In [16]:
population_dict={
    'hassan':'1.2M',
    'bengaluru':'12M',
    'mosore':'5M',
    'kodagu':'3M'
}

population=pd.Series(population_dict)

In [17]:
population

hassan       1.2M
bengaluru     12M
mosore         5M
kodagu         3M
dtype: object

In [18]:
population['hassan']

'1.2M'

In [19]:
population['hassan':'kodagu']

hassan       1.2M
bengaluru     12M
mosore         5M
kodagu         3M
dtype: object

103

In [7]:
# series object construction
pd.Series(data)

0    10
1    20
2    30
3    40
4    50
dtype: int64

In [18]:
index=['a','b','c','d','e']
pd.Series(data,index=index)

a   NaN
b   NaN
c   NaN
d   NaN
e   NaN
dtype: float64

In [10]:
pd.Series([10,20,30])

0    10
1    20
2    30
dtype: int64

In [11]:
pd.Series(4,index=[1,2,3,4,5])

1    4
2    4
3    4
4    4
5    4
dtype: int64

In [13]:
pd.Series({2:'hello',1:'world'})

2    hello
1    world
dtype: object

In [15]:
pd.Series({2:'hello',1:'world'},index=[1,2])

1    world
2    hello
dtype: object

In [27]:
# dataframe object
city=pd.Series(['mumbai','chennai','kolkatta'])
population=['10M','15M','5M']

cities=pd.DataFrame({'city':city,'population':population})
cities

       city population
0    mumbai        10M
1   chennai        15M
2  kolkatta         5M

In [22]:
cities.index

RangeIndex(start=0, stop=3, step=1)

In [23]:
cities.columns

Index(['city', 'population'], dtype='object')

In [24]:
cities['city']

0      mumbai
1     chennai
2    kolkatta
Name: city, dtype: object

In [28]:
data=[{'a':i,'b':2*i} for i in range(5)]

In [29]:
data

[{'a': 0, 'b': 0},
 {'a': 1, 'b': 2},
 {'a': 2, 'b': 4},
 {'a': 3, 'b': 6},
 {'a': 4, 'b': 8}]

In [30]:
pd.DataFrame(data)

   a  b
0  0  0
1  1  2
2  2  4
3  3  6
4  4  8

In [31]:
data=[{'a':1,'b':2},{'b':3,'c':4}]
data

[{'a': 1, 'b': 2}, {'b': 3, 'c': 4}]

In [32]:
pd.DataFrame(data)

     a  b    c
0  1.0  2  NaN
1  NaN  3  4.0

In [36]:
pd.DataFrame(np.random.rand(3,2),
             columns=['col1','col2'],
             index=['a','b','c'])

       col1      col2
a  0.520225  0.097312
b  0.581749  0.771271
c  0.936278  0.446069

In [42]:
arr=np.zeros(3,dtype=[('a','i4'),('b','i8'),('c','f8')])
arr

array([(0, 0, 0.), (0, 0, 0.), (0, 0, 0.)],
      dtype=[('a', '<i4'), ('b', '<i8'), ('c', '<f8')])

In [43]:
pd.DataFrame(arr)

   a  b    c
0  0  0  0.0
1  0  0  0.0
2  0  0  0.0

In [46]:
pd.Index([1,2,3,4,5])[1:4]

Index([2, 3, 4], dtype='int64')

In [48]:
pd.Index([1,2,3,4,5])[0]=6

TypeError: Index does not support mutable operations

In [3]:
idx=pd.Index([1,2,3,4,5])
idx2=pd.Index([4,5,6,7,8,9])

In [4]:
idx.intersection(idx2)

Index([4, 5], dtype='int64')

In [5]:
idx.union(idx2)

Index([1, 2, 3, 4, 5, 6, 7, 8, 9], dtype='int64')

In [6]:
idx.difference(idx2)

Index([1, 2, 3], dtype='int64')