# Data indexing and selection

In [1]:
import pandas as pd

In [2]:
data=pd.Series([1,2,3,4],index=['a','b','c','d'])

In [3]:
data

a    1
b    2
c    3
d    4
dtype: int64

In [4]:
'a' in data

True

In [5]:
1 in data

False

In [6]:
data.keys()

Index(['a', 'b', 'c', 'd'], dtype='object')

In [7]:
data.items()

In [8]:
list(data.items())

[('a', 1), ('b', 2), ('c', 3), ('d', 4)]

In [9]:
data['e']=5

In [10]:
data

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [11]:
data['a':'c']

a    1
b    2
c    3
dtype: int64

In [12]:
data[0:2]

a    1
b    2
dtype: int64

In [13]:
data[(data>1) & (data<3)]

b    2
dtype: int64

In [14]:
data[['a','c']]

a    1
c    3
dtype: int64

In [15]:
data=pd.Series(['a','b','c'],index=[1,3,5])

In [16]:
data

1    a
3    b
5    c
dtype: object

In [17]:
data[1]

'a'

In [18]:
data[2]

KeyError: 2

In [ ]:
data[3]

'b'

In [ ]:
data[0]

KeyError: 0

In [ ]:
data[1:3]

3    b
5    c
dtype: object

In [ ]:
data[0:]

1    a
3    b
5    c
dtype: object

In [ ]:
data.loc[1]

'a'

In [ ]:
data.loc[0:3]

1    a
3    b
dtype: object

In [ ]:
data.iloc[0:3]

1    a
3    b
5    c
dtype: object

In [20]:
rank=pd.Series({
    'mumbai':1,
    'bengaluru':2,
    'hyderabad':3,
    'chennai':4
})

population=pd.Series({
    'mumbai':'50M',
    'bengaluru':'20M',
    'hyderabad':'20M',
    'chennai':'10M'
})

data=pd.DataFrame({'city_rank':rank,'population':population})

In [21]:
data

           city_rank population
mumbai             1        50M
bengaluru          2        20M
hyderabad          3        20M
chennai            4        10M

In [22]:
data['city_rank']

mumbai       1
bengaluru    2
hyderabad    3
chennai      4
Name: city_rank, dtype: int64

In [23]:
data.city_rank

mumbai       1
bengaluru    2
hyderabad    3
chennai      4
Name: city_rank, dtype: int64

In [24]:
data['city_rank'] is data.city_rank

True

In [25]:
data['population'] is data.population

True

In [26]:
data.values

array([[1, '50M'],
       [2, '20M'],
       [3, '20M'],
       [4, '10M']], dtype=object)

In [ ]:
data.T #transforming rows to columns vise versa

           mumbai bengaluru hyderabad chennai
city_rank       1         2         3       4
population    50M       20M       20M     10M

In [28]:
data.values[0]

array([1, '50M'], dtype=object)

In [33]:
data.iloc[:3,:1]

           city_rank
mumbai             1
bengaluru          2
hyderabad          3

In [34]:
data.loc[:'chennai']

           city_rank population
mumbai             1        50M
bengaluru          2        20M
hyderabad          3        20M
chennai            4        10M

In [41]:
data.loc[data.city_rank <= 3 , ['city_rank','population']]

           city_rank population
mumbai             1        50M
bengaluru          2        20M
hyderabad          3        20M

In [40]:
data[data.city_rank > 3]

         city_rank population
chennai          4        10M